<section class="recomendation p-100">
    <div class="container">
        <div class="recomendation__inner">
            <div class="recomendation__items">
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-1.png" alt="">
                    </div>
                </div>
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-2.png" alt="">
                    </div>
                </div>
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-3.png" alt="">
                    </div>
                </div>
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-4.png" alt="">
                    </div>
                </div>
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-5.png" alt="">
                    </div>
                </div>
                <div class="recomendation-item">
                    <h2 class="recomendation-item__title">Совет 1</h2>
                    <p class="recomendation-item__descr">Какой материал линз для очков лучше?</p>
                    <div class="recomendation-item__icon">
                        <img src="images/recomendation-icon-6.png" alt="">
                    </div>
                </div>
            </div>
            <div class="recomendation-content">
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Какой <span>материал линз</span> для очков
                                <span>лучше</span>?
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>И покупка линз для очков — дело не простое. Более того, в недавнем выпуске журнал
                                    Consumer
                                    Reports сообщил, что «существует такое разнообразие выбора линз и покрытий,
                                    что нелегко
                                    решить, что достойно покупки». <br> <br>
                                    Данное руководство для потребителей поможет вам не попасть под влияние
                                    информационного
                                    шума
                                    о различных типах линз для очков и выбрать те линзы и покрытия, которые
                                    <span>обладают
                                        наилучшими
                                        свойствами</span> и максимально удовлетворяют вашим нуждам.
                                </p>
                            </div>
                        </div>
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-1.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                    </div>
                    <div class="recomendation-content__info">
                        <ul class="recomendation-list list-title">
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Органические (пластиковые) линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Современные очковые линзы часто изготавливают из оптических полимеров, таких
                                        как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                        до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                </div>
                            </li>
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Поликарбонатные линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Для спортивных и безободковых очков лучше выбирать поликарбонатные линзы.
                                        Они ударопрочные, их высокий индекс преломления (1,59) идеален для безободковых
                                        оправ. Но они подвержены царапинам, поэтому важно выбрать линзы с защитным
                                        покрытием.</p>
                                </div>
                            </li>
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Минеральные (стеклянные) линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Пластиковые линзы вытесняют минеральные, благодаря лучшим характеристикам.
                                        Минеральные с высоким индексом преломления становятся тяжёлыми из-за увеличения
                                        удельного веса при этом.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-2.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Защита глаз
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>
                                    Ваши глаза — важный орган. Они служат не только для восприятия различных объектов,
                                    форм и цветовых оттенков, но также используют световые сигналы для поддержания
                                    работы внутренних биологических часов. <br> <br>
                                    Ваши глаза — это и <span>наиболее уязвимая часть тела</span>, требующая защиты для
                                    поддержания и
                                    улучшения функции зрения. <br> <br>
                                    Вы не только должны всегда надевать защитные очки во время таких работ, как
                                    деревообработка, благоустройство или озеленение, но также знать и о других
                                    существующих способах защиты ваших глаз для <span>ежедневного сохранения их
                                        здоровья</span>.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="recomendation-content__info">
                        <h2 class="recomendation-content__info__title">Защита глаз от солнца</h2>
                        <p class="recomendation-content__info__descr">Как и все источники энергии, солнце обеспечивает
                            жизнедеятельность на Земле, однако может и
                            нанести серьезный вред. Ультрафиолетовое (УФ) излучение обладает наибольшей опасностью,
                            обжигая кожу и глаза, причиняя долгосрочные повреждения, если не использовать защитные
                            средства. <br> <br>
                            Солнечные УФ‑лучи невидимы и опасны не только когда вы находитесь на пляже в солнечный день,
                            но и в пасмурную погоду, и зимой, когда снег отражает свет прямо вам в глаза.</p>
                        <ul class="recomendation-list">
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Надевать качественные солнцезащитные очки с защитой от ультрафиолета на улице.</p>
                            </li>
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Носить шляпу или кепку с широкими полями и по возможности находиться в тени</p>
                            </li>
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Никогда не смотреть на солнце, в особенности в бинокль, телескоп или во время
                                    солнечного затмения.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Покрытия для линз
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>
                                    Сегодня современные технологии позволяют создавать покрытия очковых линз, которые
                                    значительно улучшают их оптические свойства, облегчают уход за ними и в целом делают
                                    эксплуатацию очков более приятной и эффективной. Такие свойства могут придавать
                                    линзам разные виды покрытий
                                </p>
                                <ul>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Делают изображение более четким, повышают контрастность
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Полностью нивелируют блики
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Делают поверхность устойчивой к царапинам и другим повреждениям
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Защищают от различных загрязнений
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-1.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                    </div>
                    <div class="recomendation-content__info">
                        <div class="recomendation-tabs">
                            <div class="recomendation-tabs__header">
                                <div class="recomendation-tabs__header-item active">Просветляющее</div>
                                <div class="recomendation-tabs__header-item">Грязе и водоотталкивающее</div>
                                <div class="recomendation-tabs__header-item">Упрочняющее (абразивоустойчивое)</div>
                                <div class="recomendation-tabs__header-item">Антистатическое</div>
                            </div>
                            <div class="recomendation-tabs__content">
                                <div class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные очковые линзы часто изготавливают из оптических полимеров, таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные22 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные33 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные44 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-2.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Простые и сложные линзы
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>
                                    Ваши глаза — важный орган. Они служат не только для восприятия различных объектов,
                                    форм и цветовых оттенков, но также используют световые сигналы для поддержания
                                    работы внутренних биологических часов. <br> <br>
                                    Ваши глаза — это и <span>наиболее уязвимая часть тела</span>, требующая защиты для
                                    поддержания и
                                    улучшения функции зрения. <br> <br>
                                    Вы не только должны всегда надевать защитные очки во время таких работ, как
                                    деревообработка, благоустройство или озеленение, но также знать и о других
                                    существующих способах защиты ваших глаз для <span>ежедневного сохранения их
                                        здоровья</span>.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="recomendation-content__info">
                        <h2 class="recomendation-content__info__title">Защита глаз от солнца</h2>
                        <p class="recomendation-content__info__descr">Как и все источники энергии, солнце обеспечивает
                            жизнедеятельность на Земле, однако может и
                            нанести серьезный вред. Ультрафиолетовое (УФ) излучение обладает наибольшей опасностью,
                            обжигая кожу и глаза, причиняя долгосрочные повреждения, если не использовать защитные
                            средства. <br> <br>
                            Солнечные УФ‑лучи невидимы и опасны не только когда вы находитесь на пляже в солнечный день,
                            но и в пасмурную погоду, и зимой, когда снег отражает свет прямо вам в глаза.</p>
                        <ul class="recomendation-list">
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Надевать качественные солнцезащитные очки с защитой от ультрафиолета на улице.</p>
                            </li>
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Носить шляпу или кепку с широкими полями и по возможности находиться в тени</p>
                            </li>
                            <li>
                                <img src="images/advantages-icon.svg" alt="">
                                <p>Никогда не смотреть на солнце, в особенности в бинокль, телескоп или во время
                                    солнечного затмения.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Выбор оправ
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>И покупка линз для очков — дело не простое. Более того, в недавнем выпуске журнал
                                    Consumer
                                    Reports сообщил, что «существует такое разнообразие выбора линз и покрытий,
                                    что нелегко
                                    решить, что достойно покупки». <br> <br>
                                    Данное руководство для потребителей поможет вам не попасть под влияние
                                    информационного
                                    шума
                                    о различных типах линз для очков и выбрать те линзы и покрытия, которые
                                    <span>обладают
                                        наилучшими
                                        свойствами</span> и максимально удовлетворяют вашим нуждам.
                                </p>
                            </div>
                        </div>
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-1.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                    </div>
                    <div class="recomendation-content__info">
                        <ul class="recomendation-list list-title">
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Органические (пластиковые) линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Современные очковые линзы часто изготавливают из оптических полимеров, таких
                                        как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                        до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                </div>
                            </li>
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Поликарбонатные линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Для спортивных и безободковых очков лучше выбирать поликарбонатные линзы.
                                        Они ударопрочные, их высокий индекс преломления (1,59) идеален для безободковых
                                        оправ. Но они подвержены царапинам, поэтому важно выбрать линзы с защитным
                                        покрытием.</p>
                                </div>
                            </li>
                            <li>
                                <div class="recomendation-list__head">
                                    <img src="images/advantages-icon.svg" alt="">
                                    <p>Минеральные (стеклянные) линзы для очков</p>
                                </div>
                                <div class="recomendation-list__content">
                                    <p>Пластиковые линзы вытесняют минеральные, благодаря лучшим характеристикам.
                                        Минеральные с высоким индексом преломления становятся тяжёлыми из-за увеличения
                                        удельного веса при этом.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="recomendation-content__item">
                    <div class="recomendation-content__head">
                        <div class="recomendation-content__left">
                            <h2 class="recomendation-content__title">Покрытия для линз
                            </h2>
                            <div class="recomendation-content__descr">
                                <p>
                                    Сегодня современные технологии позволяют создавать покрытия очковых линз, которые
                                    значительно улучшают их оптические свойства, облегчают уход за ними и в целом делают
                                    эксплуатацию очков более приятной и эффективной. Такие свойства могут придавать
                                    линзам разные виды покрытий
                                </p>
                                <ul>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Делают изображение более четким, повышают контрастность
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Полностью нивелируют блики
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Делают поверхность устойчивой к царапинам и другим повреждениям
                                    </li>
                                    <li>
                                        <img src="images/advantages-icon.svg" alt="">
                                        Защищают от различных загрязнений
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="recomendation-content-img">
                            <img src="images/recomendation-img-1.png" alt="">
                            <div class="recomendation-content-img__descr">
                                <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                                <p class="recomendation-content-img__label">На фото товар арт: 12468035EF</p>
                            </div>
                        </div>
                    </div>
                    <div class="recomendation-content__info">
                        <div class="recomendation-tabs">
                            <div class="recomendation-tabs__header">
                                <div data-tab="tab1" class="recomendation-tabs__header-item active">Просветляющее</div>
                                <div data-tab="tab2" class="recomendation-tabs__header-item">Грязе и водоотталкивающее
                                </div>
                                <div data-tab="tab3" class="recomendation-tabs__header-item">Упрочняющее
                                    (абразивоустойчивое)</div>
                                <div data-tab="tab4" class="recomendation-tabs__header-item">Антистатическое</div>
                            </div>
                            <div class="recomendation-tabs__content">
                                <div id="tab1" class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные очковые линзы часто изготавливают из оптических полимеров, таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div id="tab2" class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные22 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div id="tab3" class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные33 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                                <div id="tab4" class="recomendation-tabs__content-item">
                                    <div class="recomendation-tabs__info">
                                        <p>Современные44 очковые линзы часто изготавливают из оптических полимеров,
                                            таких
                                            как CR-39. Он имеет индекс преломления 1,5, но есть материалы с индексом
                                            до 1,74. Пластиковые линзы лёгкие, ударопрочные и безопасные.</p>
                                    </div>
                                    <div class="recomendation-tabs__img">
                                        <img src="images/recomendation-tabs-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>