<section class="accessories p-100">
    <div class="container">
        <div class="accessories__inner">
            <h2 class="accessories__title title">
                Это <span>дополнит</span> ваш стильный <span>образ</span>
            </h2>
            <div class="accessories-tabs tabs">
                <div class="accessories-tabs__header tabs__header">
                    <div class="accessories-tabs__header-item tabs__header-item active"><img
                            src="images/accessories-icon-1.png" alt="">Подвески на очки
                    </div>
                    <div class="accessories-tabs__header-item tabs__header-item"><img
                            src="images/accessories-icon-2.png" alt="">Футляры
                    </div>
                    <div class="accessories-tabs__header-item tabs__header-item"><img
                            src="images/accessories-icon-3.png" alt="">Салфетки
                    </div>
                </div>
                <div class="tabs__content">
                    <!-- Slider main container -->
                    <div class="tabs__content-item accessories-tabs__content-item accessories-swiper swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле ретро
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле
                                        ретро23
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__content-item accessories-tabs__content-item accessories-swiper2 swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev2">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next2">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле ретро
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev2">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next2">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле
                                        ретро23
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__content-item accessories-tabs__content-item accessories-swiper3 swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev3">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next3">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле ретро
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">

                                <div class="tabs__content-info accessories-tabs__info">
                                    <div class="products__buttons">
                                        <div class="accessories-prev3">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="accessories-next3">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Цепочка для очков в стиле
                                        ретро23
                                    </h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы.
                                        Сделаны со специальным металлическим зажимом, который предотвращает выпадение
                                        из петель. Держатель подходит для корректирующих, солнцезащитных
                                        и для компьютера. Ее можно использовать как ожерелье или держатель для маски.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">характеристики товара</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Состав: Acrylic, Silicone,
                                                Metal
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Весна-лето 2023</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Длина: 75 см</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img accessories__img">
                                    <img src="images/accessories-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>