<section class="advantages p-100">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__items">
                <div class="advantages-item">
                    <div class="advantages-item__num">
                        1
                    </div>
                    <h2 class="advantages-item__title">Опыт и профессионализм: <span>надежность гарантирована!</span>
                    </h2>
                    <p class="advantages-item__descr">С нами более 10 лет опыта в предоставлении качественных оптических
                        решений. Доверьтесь экспертам</p>
                </div>
                <div class="advantages-item">
                    <div class="advantages-item__num">
                        2
                    </div>
                    <h2 class="advantages-item__title">Широкий ассортимент: <span>найдите идеальное!</span></h2>
                    <p class="advantages-item__descr">У нас огромный выбор оправ, линз и аксессуаров. Найдите именно то,
                        что
                        подходит именно вам</p>
                </div>
                <div class="advantages-item">
                    <div class="advantages-item__num">
                        3
                    </div>
                    <h2 class="advantages-item__title">Индивидуальный подход: <span>ваше удовлетворение превыше
                            всего!</span></h2>
                    <p class="advantages-item__descr">Мы ценим вас как клиента и создаем решения, учитывая ваши
                        потребности и пожелания</p>
                </div>
                <div class="advantages-item">
                    <div class="advantages-item__num">
                        4
                    </div>
                    <h2 class="advantages-item__title">Качество и комфорт: <span>ваше здоровье — наш приоритет!</span>
                    </h2>
                    <p class="advantages-item__descr">Мы предлагаем только сертифицированные продукты, гарантирующие
                        ваше комфортное зрение и заботу о глазах.</p>
                </div>
            </div>
            <button class="advantages__btn">
                Записаться на консультацию
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                    <path d="M1 5L17 5.00008M17 5.00008L13 1M17 5.00008L13 9" stroke="#F6F4EE" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
</section>