<section class="brands p-100">
    <div class="container">
        <div class="brands__inner">
            <h2 class="title">наши бренды</h2>
            <p class="brands__subtitle subtitle">Ознакомьтесь с коллекцией наших брендов и обратите новый взгляд на
                качество
            </p>
            <div class="brands-tabs tabs">
                <div class="brands-tabs__header tabs__header">
                    <div class="brands-tabs__header-item tabs__header-item active"><img src="images/brands-tab-1.png"
                            alt=""> Линзы компании HOYA
                    </div>
                    <div class="brands-tabs__header-item tabs__header-item"><img src="images/brands-tab-2.png" alt="">
                        Линзы компании Zeiss</div>
                    <div class="brands-tabs__header-item tabs__header-item"><img src="images/brands-tab-3.png" alt="">
                        Линзы компании Keff</div>
                </div>
                <div class="tabs__content">
                    <div class="brands-tabs__content-item tabs__content-item">
                        <div class="tabs__content-info brands-tabs__info">
                            <h3 class="tabs__content-title brands-tabs__title">очковые линзы hoya</h3>
                            <p class="tabs__content-descr brands-tabs__descr">
                                Особенностью компании HOYA и ей продукции является то, что она не берёт готовое сырьё
                                (органические поли — и мономеры) на рынке у сторонних поставщиков, а изготавливает
                                все виды
                                пластмасс полностью самостоятельно по выверенным технологиям.
                            </p>
                            <div class="tabs__content-list brands-tabs__list">
                                <h4 class="tabs__content-list-title">преимущества линз</h4>
                                <ul>
                                    <li><img src="images/advantages-icon.svg" alt="">Высокоиндексный материал</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Гарантия качества</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Линзы премиум-класса </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabs__content-img brands__img">
                            <img src="images/brands-img.jpg" alt="">
                            <div class="tabs__content-brand brands__content">
                                <div class="tabs__content-logo brands-logo">
                                    <img src="images/brands-logo.png" alt="">
                                </div>
                                <div class="tabs__content-brand-descr brands__descr">
                                    <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands-tabs__content-item tabs__content-item">
                        <div class="tabs__content-info brands-tabs__info">
                            <h3 class="tabs__content-title brands-tabs__title">очковые линзы Zeiss</h3>
                            <p class="tabs__content-descr brands-tabs__descr">
                                Особенностью компании HOYA и ей продукции является то, что она не берёт готовое сырьё
                                (органические поли — и мономеры) на рынке у сторонних поставщиков, а изготавливает
                                все виды
                                пластмасс полностью самостоятельно по выверенным технологиям.
                            </p>
                            <div class="tabs__content-list brands-tabs__list">
                                <h4 class="tabs__content-list-title">преимущества линз</h4>
                                <ul>
                                    <li><img src="images/advantages-icon.svg" alt="">Высокоиндексный материал</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Гарантия качества</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Линзы премиум-класса </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabs__content-img brands__img">
                            <img src="images/brands-img.jpg" alt="">
                            <div class="tabs__content-brand brands__content">
                                <div class="tabs__content-logo brands-logo">
                                    <img src="images/brands-logo.png" alt="">
                                </div>
                                <div class="tabs__content-brand-descr brands__descr">
                                    <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands-tabs__content-item tabs__content-item">
                        <div class="tabs__content-info brands-tabs__info">
                            <h3 class="tabs__content-title brands-tabs__title">очковые линзы Keff</h3>
                            <p class="tabs__content-descr brands-tabs__descr">
                                Особенностью компании HOYA и ей продукции является то, что она не берёт готовое сырьё
                                (органические поли — и мономеры) на рынке у сторонних поставщиков, а изготавливает
                                все виды
                                пластмасс полностью самостоятельно по выверенным технологиям.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem, eaque obcaecati
                                ipsam similique perspiciatis explicabo officia, commodi veniam dignissimos nihil! Ipsa
                                quas officiis, quis dolorum id at atque neque.
                            </p>
                            <div class="tabs__content-list brands-tabs__list">
                                <h4 class="tabs__content-list-title">преимущества линз</h4>
                                <ul>
                                    <li><img src="images/advantages-icon.svg" alt="">Высокоиндексный материал</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Гарантия качества</li>
                                    <li><img src="images/advantages-icon.svg" alt="">Линзы премиум-класса </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabs__content-img brands__img">
                            <img src="images/brands-img.jpg" alt="">
                            <div class="tabs__content-brand brands__content">
                                <div class="tabs__content-logo brands-logo">
                                    <img src="images/brands-logo.png" alt="">
                                </div>
                                <div class="tabs__content-brand-descr brands__descr">
                                    <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>