<section class="products p-100">
    <div class="container">
        <div class="products__inner">
            <h2 class="title products__title">контактные линзы и растворы</h2>
            <p class="subtitle">Комфорт и ясность в каждом взгляде
            </p>
            <div class="products-tabs tabs">
                <div class="products-tabs__header tabs__header">
                    <div class="products-tabs__header-item tabs__header-item active"><img
                            src="images/products-tab-1.png" alt=""> Линзы компании
                        HOYA
                    </div>
                    <div class="products-tabs__header-item tabs__header-item"><img src="images/products-tab-2.png"
                            alt=""> Линзы компании Zeiss
                    </div>
                </div>
                <div class="tabs__content">
                    <!-- Slider main container -->
                    <div class="tabs__content-item products-tabs__content-item products-swiper swiper">

                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">

                                <div class="tabs__content-info products-tabs__info">
                                    <div class="products__buttons">
                                        <div class="products-prev">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="products-next">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Растворы для линз acuvue</h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Раствор многофункциональный дезинфицирующий ACUVUE® RevitaLens* предназначен для
                                        очистки, промывания, дезинфекции, удаления поверхностных отложений (в том числе
                                        липидов
                                        и белков), хранения и увлажнения любых мягких контактных линз, включая
                                        силикон-гидрогелевые.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">особенности растворов</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Обеспечивает комфорт
                                                на весь день.
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Двойная система дезинфекции
                                                эффективно убивает бактерии, грибы и простейшие микроорганизмы.</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Отличная совместимость
                                                с линзами
                                                ACUVUE® и другими брендами линз. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img products__img">
                                    <img src="images/products-img-1.png" alt="">
                                    <div class="tabs__content-brand products__content">
                                        <div class="tabs__content-logo products-logo">
                                            <img src="images/brands-logo-2.png" alt="">
                                        </div>
                                        <div class="tabs__content-brand-descr products__descr">
                                            <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">

                                <div class="tabs__content-info products-tabs__info">
                                    <div class="products__buttons">
                                        <div class="products-prev">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="products-next">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Растворы для линз acuvue</h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Раствор многофункциональный дезинфицирующий ACUVUE® RevitaLens* предназначен для
                                        очистки, промывания, дезинфекции, удаления поверхностных отложений (в том числе
                                        липидов
                                        и белков), хранения и увлажнения любых мягких контактных линз, включая
                                        силикон-гидрогелевые.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">особенности растворов</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Обеспечивает комфорт
                                                на весь день.
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Двойная система дезинфекции
                                                эффективно убивает бактерии, грибы и простейшие микроорганизмы.</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Отличная совместимость
                                                с линзами
                                                ACUVUE® и другими брендами линз. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img products__img">
                                    <img src="images/solutions-2.png" alt="">
                                    <div class="tabs__content-brand products__content">
                                        <div class="tabs__content-logo products-logo">
                                            <img src="images/brands-logo-2.png" alt="">
                                        </div>
                                        <div class="tabs__content-brand-descr products__descr">
                                            <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__content-item products-tabs__content-item products-swiper2 swiper">

                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">

                                <div class="tabs__content-info products-tabs__info">
                                    <div class="products__buttons">
                                        <div class="products-prev2">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="products-next2">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Растворы для линз acuvue2</h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Раствор многофункциональный дезинфицирующий ACUVUE® RevitaLens* предназначен для
                                        очистки, промывания, дезинфекции, удаления поверхностных отложений (в том числе
                                        липидов
                                        и белков), хранения и увлажнения любых мягких контактных линз, включая
                                        силикон-гидрогелевые.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">особенности растворов</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Обеспечивает комфорт
                                                на весь день.
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Двойная система дезинфекции
                                                эффективно убивает бактерии, грибы и простейшие микроорганизмы.</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Отличная совместимость
                                                с линзами
                                                ACUVUE® и другими брендами линз. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img products__img">
                                    <img src="images/products-img-1.png" alt="">
                                    <div class="tabs__content-brand products__content">
                                        <div class="tabs__content-logo products-logo">
                                            <img src="images/brands-logo-2.png" alt="">
                                        </div>
                                        <div class="tabs__content-brand-descr products__descr">
                                            <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">

                                <div class="tabs__content-info products-tabs__info">
                                    <div class="products__buttons">
                                        <div class="products-prev2">
                                            <img src="images/slider-left.svg" alt="">
                                        </div>
                                        <div class="products-next2">
                                            <img src="images/slider-right.svg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="tabs__content-title products-tabs__title">Растворы для линз acuvue3</h3>
                                    <p class="tabs__content-descr products-tabs__descr">
                                        Раствор многофункциональный дезинфицирующий ACUVUE® RevitaLens* предназначен для
                                        очистки, промывания, дезинфекции, удаления поверхностных отложений (в том числе
                                        липидов
                                        и белков), хранения и увлажнения любых мягких контактных линз, включая
                                        силикон-гидрогелевые.
                                    </p>
                                    <div class="tabs__content-list products-tabs__list">
                                        <h4 class="tabs__content-list-title">особенности растворов</h4>
                                        <ul>
                                            <li><img src="images/advantages-icon.svg" alt="">Обеспечивает комфорт
                                                на весь день.
                                            </li>
                                            <li><img src="images/advantages-icon.svg" alt="">Двойная система дезинфекции
                                                эффективно убивает бактерии, грибы и простейшие микроорганизмы.</li>
                                            <li><img src="images/advantages-icon.svg" alt="">Отличная совместимость
                                                с линзами
                                                ACUVUE® и другими брендами линз. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs__content-img products__img">
                                    <img src="images/solutions-2.png" alt="">
                                    <div class="tabs__content-brand products__content">
                                        <div class="tabs__content-logo products-logo">
                                            <img src="images/brands-logo-2.png" alt="">
                                        </div>
                                        <div class="tabs__content-brand-descr products__descr">
                                            <p>У нас в магазине Оптика ВИЖУ представлено более 50 видов очковых линз</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>