// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
        .modal {
            background: white;
            padding: 50px;
            border-radius: 6px;
            height: 480px;
            width: 490px;
                & form{
                    width: 100%;
                }
                &__title {
                    color: var(--black);
                    text-align: center;
                    font-family: PT Sans;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px; /* 100% */
                    margin-bottom: 50px;
                    text-transform: uppercase;
                }
                &__close{
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;
                }
        }
}
