<section class="contacts p-100">
    <div class="container">
        <div class="contacts__inner">
            <div class="contacts__items">
                <div class="contacts-item">
                    <p class="contacts-item__subtitle">Адрес:</p>
                    <p class="contacts-item__name">г. Астана, ул. Кенесары 50, 1 этаж</p>
                </div>
                <div class="contacts-item">
                    <p class="contacts-item__subtitle">Телефон:</p>
                    <a href="tel:+71234567890" class="contacts-item__name">+7 (123) 456-78-90</a>
                </div>
                <div class="contacts-item">
                    <p class="contacts-item__subtitle">График работы:</p>
                    <p href="tel:+71234567890" class="contacts-item__name">Ежедневно с 8:00 до 20:00</p>
                </div>
            </div>
            <div class="contacts-map">
                <div class="map">
                    <iframe id="map_941672557" frameborder="0" width="100%" height="600px"
                        sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
                </div>
                <div class="contacts-map__items">
                    <div class="contacts-map-item">
                        <div class="contacts-map-item__info">
                            <p class="contacts-map-item__descr">Магазин оптики "Art Optika" удобно расположен в центре
                                города Астана. Для вашего комфорта, предоставляем подробную информацию о маршруте, чтобы
                                вы
                                без труда могли нас найти:</p>
                        </div>
                    </div>
                    <div class="contacts-map-item">
                        <div class="contacts-map-item__icon">
                            <img src="images/contacts-icon-1.svg" alt="">
                        </div>
                        <div class="contacts-map-item__info">
                            <p class="contacts-map-item__name">Общественным транспортом: </p>
                            <p class="contacts-map-item__descr">Возьмите автобус № 15, остановка "Центральный рынок", и
                                всего в 5 минутах ходьбы оттуда вы увидите нас на углу улицы.</p>
                        </div>
                    </div>
                    <div class="contacts-map-item">
                        <div class="contacts-map-item__icon">
                            <img src="images/contacts-icon-2.svg" alt="">
                        </div>
                        <div class="contacts-map-item__info">
                            <p class="contacts-map-item__name">На автомобиле: </p>
                            <p class="contacts-map-item__descr">У нас есть удобная парковка для наших клиентов, чтобы вы
                                могли легко припарковаться и совершить покупку.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>