<header class="header">
    <div class="big-container">
        <div class="header__inner">
            <a href="index.html" class="header__logo">
                <img src="images/logo.svg" alt="">
            </a>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="#">
                            главная
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Наши продукты
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Оправы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Здоровье ваших глаз
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Дефекты зрения
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Советы от нас
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__lang">
                <a class="ru lang--active" href="">Рус</a>
                <a class="kz" href="">Қаз</a>
            </div>
            <!-- <nav class="header__nav__mobile">
                <ul>
                    
                </ul>
            </nav> -->
            <div class="header-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>