<section class="info-banner">
    <div class="container">
        <div class="info-banner__inner">
            <h2 class="info-banner__title">Как обратиться за сервисным обслуживанием очков?</h2>
            <ul class="info-banner__list">
                <li><img src="images/advantages-icon.svg" alt="">Сдать очки на сервисное обслуживание можно в нашем
                    салоне
                    Оптики «ВИЖУ», вне зависимости от того, где вы их покупали.</li>
                <li><img src="images/advantages-icon.svg" alt="">Мелкие работы, например, ультразвуковая чистка очков,
                    проводят сразу же в салоне. Буквально, не отходя от кассы</li>
                <li><img src="images/advantages-icon.svg" alt="">Более сложные работы, например, выправка оправы, могут
                    выполняться два дня и более.</li>
                <li><img src="images/advantages-icon.svg" alt="">Получить очки обратно можно в любой день после
                    готовности, о которой мы сообщим вам любым удобным для вас способом</li>
            </ul>
        </div>
    </div>
</section>