<section class="check p-100">
    <div class="container">
        <h2 class="title">проверка зрения</h2>
        <div class="check__inner">
            <div class="check-info">
                <h3 class="check-info__title">Чёткое видение начинается в <span>Optika вижу</span></h3>
                <div class="check-info__descr">
                    <p>Дарующая ясность взгляда: профессиональная проверка зрения в нашем магазине оптики. Наша команда
                        экспертов заботится о вашем зрительном комфорте. <br>
                        Чёткое зрение — ключ к полноценной жизни, и мы готовы поддержать вас на этом пути. Современное
                        оборудование и опыт наших офтальмологов позволяют провести точную диагностику вашего зрения.
                        <br>
                        Мы предлагаем индивидуальный подход к каждому клиенту. Независимо от ваших потребностей
                        и предпочтений, <span>мы подберём оптимальное решение для коррекции или улучшения зрения.</span>
                    </p>
                </div>
            </div>
            <div class="check-img">
                <img src="images/check-img.png" alt="">
            </div>
        </div>

    </div>
</section>