<section class="info-banner">
    <div class="container">
        <div class="info-banner__inner">
            <h2 class="info-banner__title">Позаботьтесь о зрении вашего ребёнка — доверьтесь<span> нашим
                    профессионалам</span></h2>
            <ul class="info-banner__list">
                <li><img src="images/advantages-icon.svg" alt="">
                    <p>С самого рождения зрение играет решающую роль
                        в усвоении мира. Мы готовы поддержать вашего малыша на этом пути, предоставив
                        <span>профессиональную
                            помощь</span> и тщательную диагностику.
                    </p>
                </li>
                <li><img src="images/advantages-icon.svg" alt="">
                    <p>Детские глаза — это как открытое окно в мир,
                        и мы стремимся сделать это окно максимально чистым и ясным. С учётом специфики детского зрения,
                        мы предлагаем <span>индивидуальный подход</span> к подбору линз и оправы.</p>
                </li>
            </ul>
        </div>
    </div>
</section>