// ********************** Breakpoints ******************** //
:root {
    --blue:#36386C;
    --red:#C50013;
    --dark:#333333;
    --black:#000;
    --bg:#F9F3E9;
    --bg-2:#EEE8DD;
}


$mw-big: 1750px;
$mw: 1330px;




