<section class="defects p-100">
    <div class="container">
        <div class="defects-nav">
            <a href="#" data-target="section1" class="defects-nav__item active">
                <div class="defects-nav__circle"></div>
                <p class="defects-nav__name">миопия</p>
            </a>
            <a href="#" data-target="section2" class="defects-nav__item">
                <div class="defects-nav__circle"></div>
                <p class="defects-nav__name">Астигматизм</p>
            </a>
            <a href="#" data-target="section3" class="defects-nav__item">
                <div class="defects-nav__circle"></div>
                <p class="defects-nav__name">Пресбиопия</p>
            </a>
        </div>
        <div class="defects__inner">

            <div class="defects-content">
                <div id="section1" class="defects-item">
                    <div class="defects-item__img">
                        <img src="images/defects-img-1.jpg" alt="">
                    </div>
                    <h2 class="defects-item__title">миопия</h2>
                    <div class="defects-item__descr">
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Профилактика и лечение</li>
                        </ul>
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Лучший уход для глаз с миопией</li>
                        </ul>
                        <p>Мы готовы помочь вам заботиться о зрении, предоставляя качественные линзы и оправы,
                            специально разработанные для миопии. Также важно регулярно отдыхать от близкой работы
                            и укреплять глазные мышцы специальными упражнениями. Доверьтесь нам в заботе о вашем
                            зрении и примите меры для поддержания его здоровья».</p>
                    </div>

                </div>
                <div id="section2" class="defects-item">
                    <div class="defects-item__img">
                        <img src="images/defects-img-1.jpg" alt="">
                    </div>
                    <h2 class="defects-item__title">миопия</h2>
                    <div class="defects-item__descr">
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Профилактика и лечение</li>
                        </ul>
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Лучший уход для глаз с миопией</li>
                        </ul>
                        <p>Мы готовы помочь вам заботиться о зрении, предоставляя качественные линзы и оправы,
                            специально разработанные для миопии. Также важно регулярно отдыхать от близкой работы
                            и укреплять глазные мышцы специальными упражнениями. Доверьтесь нам в заботе о вашем
                            зрении и примите меры для поддержания его здоровья».</p>
                    </div>

                </div>
                <div id="section3" class="defects-item">
                    <div class="defects-item__img">
                        <img src="images/defects-img-1.jpg" alt="">
                    </div>
                    <h2 class="defects-item__title">миопия</h2>
                    <div class="defects-item__descr">
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Профилактика и лечение</li>
                        </ul>
                        <p>Миопия, или близорукость, становится все более распространенной проблемой в современном
                            мире.</p>
                        <ul class="defects-item__list">
                            <li><img src="images/advantages-icon.svg" alt=""> Лучший уход для глаз с миопией</li>
                        </ul>
                        <p>Мы готовы помочь вам заботиться о зрении, предоставляя качественные линзы и оправы,
                            специально разработанные для миопии. Также важно регулярно отдыхать от близкой работы
                            и укреплять глазные мышцы специальными упражнениями. Доверьтесь нам в заботе о вашем
                            зрении и примите меры для поддержания его здоровья».</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>