<section class="adult-frames p-100">
    <div class="container">
        <div class="adult-frames__inner">
            <h2 class="title">взрослые оправы</h2>
            <p class="subtitle">Стильные оправы <span>для взрослых</span></p>
            <div class="frames-cards">
                <div style="background-image: url('images/frames-card-1.jpg');" class="frames-card">
                    <h3 class="frames-card__title">caroline abram</h3>
                </div>
                <div style="background-image: url('images/frames-card-2.jpg');" class="frames-card">
                    <h3 class="frames-card__title">theo</h3>
                </div>
                <div style="background-image: url('images/frames-card-3.jpg');" class="frames-card">
                    <h3 class="frames-card__title">anne & valentin</h3>
                </div>
                <div style="background-image: url('images/frames-card-4.jpg');" class="frames-card">
                    <h3 class="frames-card__title">eyevan 7285</h3>
                </div>
                <div style="background-image: url('images/frames-card-5.jpg');" class="frames-card">
                    <h3 class="frames-card__title">lapima</h3>
                </div>
                <div style="background-image: url('images/frames-card-6.jpg');" class="frames-card">
                    <h3 class="frames-card__title">mykita</h3>
                </div>
                <div style="background-image: url('images/frames-card-7.jpg');" class="frames-card">
                    <h3 class="frames-card__title">peter & may walk</h3>
                </div>
                <div style="background-image: url('images/frames-card-8.jpg');" class="frames-card">
                    <h3 class="frames-card__title">ALF</h3>
                </div>
                <div style="background-image: url('images/frames-card-1.jpg');" class="frames-card">
                    <h3 class="frames-card__title">caroline abram</h3>
                </div>
                <div style="background-image: url('images/frames-card-2.jpg');" class="frames-card">
                    <h3 class="frames-card__title">theo</h3>
                </div>
                <div style="background-image: url('images/frames-card-3.jpg');" class="frames-card">
                    <h3 class="frames-card__title">anne & valentin</h3>
                </div>
                <div style="background-image: url('images/frames-card-4.jpg');" class="frames-card">
                    <h3 class="frames-card__title">eyevan 7285</h3>
                </div>
            </div>
        </div>
    </div>
</section>