<section class="child-frames p-100">
    <div class="container">
        <div class="child-frames__inner">
            <h2 class="title">детские оправы</h2>
            <p class="subtitle">Стильные оправы <span>для детей</span></p>
            <div class="frames-cards">
                <div style="background-image: url('images/frames-card-9.jpg');" class="frames-card">
                    <h3 class="frames-card__title">caroline abram</h3>
                </div>
                <div style="background-image: url('images/frames-card-10.jpg');" class="frames-card">
                    <h3 class="frames-card__title">theo</h3>
                </div>
                <div style="background-image: url('images/frames-card-11.jpg');" class="frames-card">
                    <h3 class="frames-card__title">anne & valentin</h3>
                </div>
                <div style="background-image: url('images/frames-card-12.jpg');" class="frames-card">
                    <h3 class="frames-card__title">eyevan 7285</h3>
                </div>
                <div style="background-image: url('images/frames-card-13.jpg');" class="frames-card">
                    <h3 class="frames-card__title">lapima</h3>
                </div>
                <div style="background-image: url('images/frames-card-14.jpg');" class="frames-card">
                    <h3 class="frames-card__title">mykita</h3>
                </div>
                <div style="background-image: url('images/frames-card-15.jpg');" class="frames-card">
                    <h3 class="frames-card__title">peter & may walk</h3>
                </div>
                <div style="background-image: url('images/frames-card-16.jpg');" class="frames-card">
                    <h3 class="frames-card__title">ALF</h3>
                </div>
                <div style="background-image: url('images/frames-card-9.jpg');" class="frames-card">
                    <h3 class="frames-card__title">caroline abram</h3>
                </div>
                <div style="background-image: url('images/frames-card-10.jpg');" class="frames-card">
                    <h3 class="frames-card__title">theo</h3>
                </div>
                <div style="background-image: url('images/frames-card-11.jpg');" class="frames-card">
                    <h3 class="frames-card__title">anne & valentin</h3>
                </div>
                <div style="background-image: url('images/frames-card-12.jpg');" class="frames-card">
                    <h3 class="frames-card__title">eyevan 7285</h3>
                </div>
            </div>
        </div>
    </div>
</section>