<section class="glasses-info p-100">
    <div class="container">
        <div class="glasses-info__inner">
            <div class="glasses-info__text">
                <h2 class="glasses-info__title">
                    Солнцезащитные очки
                </h2>
                <div class="glasses-info__descr">
                    <p>
                        Ваши глаза — важный орган. Они служат не только для восприятия различных объектов, форм и
                        цветовых оттенков, но также используют световые сигналы для поддержания работы внутренних
                        биологических часов. <br> <br>
                        Ваши глаза — это и <span>наиболее уязвимая часть тела</span>, требующая защиты для поддержания и
                        улучшения
                        функции зрения. <br> <br>
                        Вы не только должны всегда надевать защитные очки во время таких работ, как деревообработка,
                        благоустройство или озеленение, но также знать и о других существующих способах защиты ваших
                        глаз для <span>ежедневного сохранения их здоровья</span>.
                    </p>
                </div>
            </div>
            <div class="glasses-info__items">
                <div class="glasses-info__item">
                    <div class="glasses-info__img">
                        <img src="images/glasses-img-1.jpg" alt="">
                    </div>
                    <div class="glasses-info__excerpt">
                        <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                    </div>
                    <div class="glasses-info__label">
                        На фото товар арт: 12468035EF
                    </div>
                    <div class="glasses-info__description">
                        <p>Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы. Сделаны
                            со специальным металлическим зажимом, который предотвращает выпадение из петель. Держатель
                            подходит для корректирующих, солнцезащитных и для компьютера. </p>
                    </div>
                </div>
                <div class="glasses-info__item">
                    <div class="glasses-info__img">
                        <img src="images/glasses-img-2.jpg" alt="">
                    </div>
                    <div class="glasses-info__excerpt">
                        <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                    </div>
                    <div class="glasses-info__label">
                        На фото товар арт: 12468035EF
                    </div>
                    <div class="glasses-info__description">
                        <p>Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы. Сделаны
                            со специальным металлическим зажимом, который предотвращает выпадение из петель. Держатель
                            подходит для корректирующих, солнцезащитных и для компьютера. </p>
                    </div>
                </div>
                <div class="glasses-info__item">
                    <div class="glasses-info__img">
                        <img src="images/glasses-img-3.jpg" alt="">
                    </div>
                    <div class="glasses-info__excerpt">
                        <p>У нас в магазине <span>Оптика ВИЖУ</span> представлено несколько таких линз</p>
                    </div>
                    <div class="glasses-info__label">
                        На фото товар арт: 12468035EF
                    </div>
                    <div class="glasses-info__description">
                        <p>Все наши изделия выполнены из безопасного сплава. Не цепляется за волосы. Сделаны
                            со специальным металлическим зажимом, который предотвращает выпадение из петель. Держатель
                            подходит для корректирующих, солнцезащитных и для компьютера. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>