<section class="p-100 about">
    <div class="container">
        <div class="about__inner">
            <div class="about__info">
                <img class="about__img" src="images/about-img.jpg" alt="">
                <h2 class="about__title">оптика вижу</h2>
                <p class="about__descr">Мы являемся независимым брендом, создающим высококачественные очки ручной
                    работы, вдохновленные людьми, местами и историями.</p>
                <a href="#" class="about__more">
                    Посмотреть на карте
                    <img src="images/arrow-more.svg" alt="">
                </a>
            </div>
            <div class="specialists">
                <!-- Slider main container -->
                <div class="swiper specialists__slider">
                    <div class="specialists__buttons">
                        <div class="specialists-prev">
                            <img src="images/slider-left.svg" alt="">
                        </div>
                        <div class="specialists-next">
                            <img src="images/slider-right.svg" alt="">
                        </div>
                    </div>
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide specialists-item">
                            <img src="images/specialists-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide specialists-item">
                            <img src="images/specialists-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide specialists-item">
                            <img src="images/specialists-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <h2 class="specialists__title">
                    наши специалисты
                </h2>
                <p class="specialists__descr">
                    Наша команда состоит из 5 квалифицированных оптиков, которые всегда готовы оказать вам теплый и
                    внимательный совет.
                </p>
            </div>
        </div>
    </div>
</section>