<section class="p-100 frames">
    <div class="container">
        <div class="frames__inner">
            <h2 class="title">оправы на любой вкус</h2>
            <p class="subtitle">Взгляни яснее: Невероятные скидки на оптику!</p>
            <div class="frames__items">
                <div class="frames-item">
                    <div class="frames-item__img">
                        <img src="images/frames-1.png" alt="">
                    </div>
                    <h3 class="frames-item__title">
                        Взрослые оправы
                    </h3>
                    <p class="frames-item__descr">
                        Они мягкие и удобные, безопасные, сохраняют свой первоначальный вид длительное время
                    </p>
                </div>
                <div class="frames-item">
                    <div class="frames-item__img">
                        <img src="images/frames-2.png" alt="">
                    </div>
                    <h3 class="frames-item__title">
                        Взрослые оправы
                    </h3>
                    <p class="frames-item__descr">
                        Они мягкие и удобные, безопасные, сохраняют свой первоначальный вид длительное время
                    </p>
                </div>
                <div class="frames-item">
                    <div class="frames-item__img">
                        <img src="images/frames-3.png" alt="">
                    </div>
                    <h3 class="frames-item__title">
                        Взрослые оправы
                    </h3>
                    <p class="frames-item__descr">
                        Они мягкие и удобные, безопасные, сохраняют свой первоначальный вид длительное время
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>