<section class="hero">
    <div class="big-container">
        <div class="hero__inner">
            <div class="hero-shape ping-shape-left"></div>
            <div class="hero-shape ping-shape-person"></div>
            <div class="hero-shape blue-shape-person"></div>
            <div class="hero-shape blue-shape-person-2"></div>
            <div class="hero-text">
                <div class="hero__text">
                    <h1 class="hero__title">стиль и комфорт <br>в <span>любом</span> возрасте</h1>
                    <p class="hero__descr">
                        Ваш путь к безупречному стилю и независимому комфорту. Откройте свои возможности с
                        уникальными моделями только у нас!
                    </p>
                    <a href="" class="hero__btn">Посмотреть оправы</a>
                </div>
            </div>
            <!-- Slider main container -->
            <div class="swiper hero-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide hero-swiper__slide">
                        <div class="hero__img">

                            <img src="images/hero-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide hero-swiper__slide">
                        <div class="hero__img">

                            <img src="images/hero-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide hero-swiper__slide">
                        <div class="hero__img">

                            <img src="images/hero-img-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>