<section class="lenses p-100">
    <div class="container">
        <h2 class="lenses__title">очковые линзы</h2>
        <p class="lenses__subtitle">Вы на высоте: стиль в каждой детали вашего образа</p>
        <a href="#" class="lenses__more">
            Выбрать линзы
            <img src="images/arrow-right-white.svg" alt="">
        </a>
        <div class="bubles">
            <div class="buble">
                <img src="images/buble-1.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-2.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-3.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-4.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-5.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-6.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-5.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-1.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-4.svg" alt="">
            </div>
            <div class="buble">
                <img src="images/buble-3.svg" alt="">
            </div>
        </div>
    </div>
</section>