<section class="p-100 proposal">
    <div class="container">
        <div class="proposal__inner">
            <h2 class="title">наши предложения</h2>
            <p class="subtitle">Взгляни яснее: Невероятные скидки на оптику!</p>
            <div class="proposal__items">
                <a href="#" style="background-image: url('images/proposal-bg-1.jpg');" class="proposal-item has-link">
                    <p class="proposal-item__subtitle">Летнее обновление взгляда!</p>
                    <h2 class="proposal-item__title">Купи одну пару очков и получи <span class="color-pink">скидку
                            50%</span> на вторую!</h2>
                    <button class="proposal-item__btn">Узнать об акции</button>
                </a>
                <a href="#" style="background-image: url('images/proposal-bg-2.png');" class="proposal-item has-link">
                    <!-- <img class="proposal-item__bg" src="images/proposal-bg-2.png" alt=""> -->
                    <p class="proposal-item__subtitle">Летнее обновление взгляда!</p>
                    <h2 class="proposal-item__title">Купи одну пару очков и получи <span class="color-red">скидку
                            50%</span> на вторую!</h2>
                    <button class="proposal-item__btn">Узнать об акции</button>
                </a>
                <div style="background-image: url('images/proposal-bg-3.png');" class="proposal-item">
                    <!-- <img class="proposal-item__bg" src="images/proposal-bg-3.png" alt=""> -->
                    <p class="proposal-item__subtitle">При заказе индивидуальной оправы</p>
                    <h2 class="proposal-item__title">получи дополнительные стекла <span class="color-red">в
                            подарок!</span></h2>

                </div>
                <div style="background-image: url('images/proposal-bg-4.png');" class="proposal-item">
                    <h2 class="proposal-item__title"><span class="color-red">скидки до 50%</span> на все виды контактных
                        линз</h2>

                </div>
            </div>
        </div>
    </div>
</section>