<section class="steps p-100">
    <div class="container">
        <div class="steps__container">
            <div class="steps__top">
                <h2 class="steps__title title title-row">процесс изготовления <span>ваших очков</span></h2>
            </div>
            <div class="steps__cards">
                <div class="steps__card way">
                    <div class="steps__num">1</div>
                    <div class="steps__desc">
                        <div class="steps__txt">Подбор оправы и линз с учетом вашего стиля и зрительных потребностей
                        </div>
                    </div>
                </div>
                <div class="steps__card way">
                    <div class="steps__num">2</div>
                    <div class="steps__desc">
                        <div class="steps__txt">Детальные измерения, чтобы обеспечить идеальную посадку на лице</div>
                    </div>
                </div>
                <div class="steps__card way">
                    <div class="steps__num">3</div>
                    <div class="steps__desc">
                        <div class="steps__txt">Точный раскрой линз по форме оправы с помощью специального оборудования
                        </div>
                    </div>
                </div>
                <div class="steps__card way">
                    <div class="steps__num">4</div>
                    <div class="steps__desc">
                        <div class="steps__txt">Тщательная проверка качества, чтобы убедиться в безупречности каждой
                            детали</div>
                    </div>
                </div>
                <div class="steps__card way">
                    <div class="steps__num">5</div>
                    <div class="steps__desc">
                        <div class="steps__txt">Успешная примерка и настройка перед передачей вам</div>
                    </div>
                </div>
            </div>
            <img class="steps__next way" src="images/finish-icon.svg" alt="">
            <div class="steps__finish way">
                <div class="steps__card way">
                    <div class="steps__num num">6</div>
                    <div class="steps__desc">
                        <h3 class="steps__caption">Поздравляем!</h3>
                        <div class="steps__txt">Вам остается только радоваться ясному зрению и шикарному образу с новыми
                            очками!</div>
                    </div>
                </div>
            </div>
            <div class="steps__image">
                <img src="images/finish-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="svg svg-1 way">
        <img src="images/firework-1.svg" alt="">
    </div>
    <div class="svg svg-2 way">
        <img src="images/firework-2.svg" alt="">
    </div>
    <div class="svg svg-3 way">
        <img src="images/firework-3.svg" alt="">
    </div>
    <div class="svg svg-4 way">
        <img src="images/firework-4.svg" alt="">
    </div>
    <div class="svg svg-5 way">
        <img src="images/firework-5.svg" alt="">
    </div>
</section>